.input {
  background: "#EFEFEF";
  width: "90vw";
  height: "5vh";
  left: "5vw";
  right: "5vw";
  top: "4vh";
  border-radius: 10;
  border: "none";
}
.input:focus {
  outline: none;
}

.input::placeholder {
  color: #c4c4c4;
  font-size: 2.1vh;
}
.box {
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar {
  display: none;
}

textarea {
  border: none;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #c4c4c4;
  font-size: 2.1vh;
}
